#task {
  &_name {
    color: #444 !important;
    background-color: #fff!important;
    width: 20%;
    font-size: 30px;
    border: none;
    border-bottom: 2px solid #eee;
    margin-right: 10px;
    padding-left: 10px;
  }
  &_content {
    color: #444 !important;
    background-color: #fff!important;
    width: 64%;
    font-size: 30px;
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid #eee;
  }
  &_input {
    color: #2b88d9;
    font-size: 20px;
    font-weight: bold;
    & input {
      display: none;
    }
    & label {
      padding-bottom: 4px;
      cursor: pointer;
      &:hover {
        border-bottom: 2px solid #2b88d9;
      }
    }
  }
}

.edit__back {
  position: relative;
  & a {
    padding-left: 26px;
    text-decoration: none;
    color: #2b88d9;
    font-size: 18px;
    font-weight: bold;
  }
  &:hover {
    width: 80px;
    border-bottom: 2px solid #2b88d9;
  }
  &:before {
    width: 6px;
    height: 6px;
    content: '';
    border-top: 4px solid #2b88d9;
    border-left: 4px solid #2b88d9;
    position: absolute;
    top: 9px;
    left: 10px;
    transform: rotate(-45deg);
  }
}
