body {
  margin: 0;
}
h1 {
  margin-left: 20px;
}
.task {
  &__right {
    width: 40%;
    min-height: 100vh;
    background-color: rgba(128, 135, 162, 0.5);
    padding-top: 68px;
    padding-bottom: 30px;
    & h2 {
      width: 90%;
      color: #fff;
      margin: 3rem auto;
    }
  }
  &__left {
    width: 60%;
    background-color: rgba(0,0,0,0.01);
    & h2 {
      width: 90%;
      margin: 3rem auto;
    }
  }
  &__lists {
    width: 94%;
    margin: 0 auto;
    &--done {
      width: 90%;
      margin: 0 auto;
    }
  }
  &__link {
    text-decoration: none;
    color: #444;
  }
  &__add {
    height: 60px;
    background-color: #fff;
    border: 2px solid #eee;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
    & a {
      color: #b9b9b9;
      width: 100%;
      height: 100%;
      display: flex;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      &:hover {
        color: #444;
      }
    }
  }
  &__list {
    background-color: #fff;
    padding: 15px;
    border: 2px solid #eee;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
    &--body {
      color: #2b88d9;
      font-weight: bold;
      font-size: 30px;
      border-bottom: 1px solid #eee;
      &.done {
        font-size: 20px;
      }
      &:hover {
        &:after {
          content: '...';
        }
      }
    }
    &--buttons {
      margin-top: 20px;
      display: flex;
      position: relative;
      & .delete {
        position: absolute;
        right: 0;
      }
      & a {
        color: #a09c9c;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          color: #444;
        }
      }
    }
  }
}

.modal {
  &__form {
    width: 60%;
    display: none;
    background-color: #fff;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 16px 20px 40px 20px;
    border-radius: 4px;
    position: fixed;
    z-index: 10;
    top: 30%;
    left: 20%;
  }
  &__overlay {
    z-index:1;
  	display:none;
  	position:fixed;
  	top:0;
  	left:0;
  	width:100%;
  	height:120%;
  	background-color:rgba(0,0,0,.5);
  }
  &__close {
    color: #c3c1c1;
    position: absolute;
    top: 14px;
    right: 20px;
    cursor: pointer;
    &:hover {
      color: #444;
    }
  }
}
.index {
  &__wrapper {
    display: flex;
    color: #444;
  }
  &__page {
    &--form {
      width: 95%;
      margin: 2rem auto 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-direction: column;
    }
  }
}

.flash__message {
  &--success {
    width: 30%;
    background-color: #dff0d8;
    color: #3c763d;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin-left: 20px;
    border-radius: 4px;
    position: absolute;
    top: 7%;
  }
  &--error {
    width: 30%;
    background-color: rgba(187, 0, 0, 0.1);
    color: rgba(187, 0, 0, 1);
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin-left: 20px;
    border-radius: 4px;
    position: absolute;
    top: 7%;
  }
}
