.task {
  &__wrapper {
    width: 95%;
    margin: 4rem auto 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__lists {
    width: 40%;
  }
  &__link {
    text-decoration: none;
    color: #444;
  }
  &__list {
    padding: 15px;
    border: 2px solid #eee;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
    &--body {
      color: #2b88d9;
      font-weight: bold;
      font-size: 20px;
      border-bottom: 1px solid #eee;
    }
    &--buttons {
      margin-top: 20px;
    }
    &--toggle a {
      color: #a09c9c;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        color: #444;
      }
    }
  }
}

.index {
  &__wrapper {
    color: #444;
    padding: 0 20px;
  }
  &__page {
    &--form {
      width: 95%;
      margin: 4rem auto 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}

.flash__message {
  &--success {
    width: 50%;
    background-color: #dff0d8;
    color: #3c763d;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
  }
  &--error {
    width: 50%;
    background-color: rgba(187, 0, 0, 0.1);
    color: rgba(187, 0, 0, 1);
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
  }
}
